.mainheader{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: cornflowerblue;
    color: #fff;
}
.navlink{
    display: flex;
    margin: auto 2em;
    list-style-type: none;
}
.navitem{
    margin: auto 2em auto 0;
}
.logoutBtn{
    padding: 1em;
    border: none;
    outline: 0;
    border-radius: 1em;
    background-color: darkcyan;
    color: #fff;
}